/* Contenitore principale */
.container {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

/* Header */
header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  color: #333;
}

/* Navbar */
nav {
  background-color: #333;
  border-radius: 30px;
  padding: 12px 30px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}


nav a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 8px 15px;
  border-radius: 20px;
  transition: all 0.3s ease;
}


nav a:active {
  background-color: #0056b3;
  color: #fff;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 8px 15px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  background-color: #0056b3;
  color: #fff;
  transform: scale(1.1);
}

nav ul li a.active {
  background-color: #0056b3;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav ul li a:not(:last-child)::after {
  content: '|';
  color: #fff;
  margin: 0 10px;
}

nav ul li a:last-child::after {
  content: '';
}

/* Footer */
footer {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  color: #777;
}

footer p {
  margin: 0;
}
